﻿@model MVCCoreWebApp.Models.User
@{
    //ViewData["Title"] = "Login";
    ViewBag.Title = "Login";
    ViewBag.List = new List<string> { "a", "b", "c", "d" };
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm())//html helper
{
    @Html.ValidationSummary(true)
    @*@Html.DisplayNameFor(model => model.UserCode)*@
    @*@Html.LabelFor(model => model.UserCode)*@
    @*<input type="text">*@
    @*<br>*@
    @*@Html.LabelFor(model => model.UserPassword)*@
    @*<input type="password">*@

    @Html.LabelFor(model => model.UserCode)
    @Html.TextBoxFor(model => model.UserCode)
    @Html.ValidationMessageFor(model => model.UserCode)

    <br>
    @Html.LabelFor(model => model.UserPassword)
    @Html.PasswordFor(model => model.UserPassword)
    @Html.ValidationMessageFor(model => model.UserPassword)
    @if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
    <br>
    <button type="submit">Login</button>
}
@*<ul>
        @foreach (var item in ViewBag.List)
        {
            <li>@item</li>
        }
    </ul>*@

